@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700');
//https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/stylus/settings/_variables.styl
$font-size-root = 1rem
$body-font-family = 'Raleway', sans-serif
$heading-font-family = 'Raleway', sans-serif




// Import rest
@import '~vuetify/src/stylus/main'
